<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title LoveHate
        link(rel="stylesheet", href="css/style.css")
    body
        .main_cnntn
            .contentt
                .logo
                    img(src="images/logo.png", alt="")
                .list_hhstgss
                    .hstgg #lovewins
                    .hstgg #verysoon
                    .hstgg #thiisadela
            //-     .ttitt
            //-         h4 Our Website Is Almost Ready
            //-     .ssgg TIME LEFT UNTIL LAUNCHING
            //-     .conuntntt#contador
                    
                        

            //-     .ssgg NOTIFY ME WHEN IT'S READY
            //-     .spc_form_newslttr
            //-         form(action="")
            //-             input(type="text", name="", placeholder="Your Email")
            //-             button(type="submit") subscribe
            //-     .spc_redddsss
            //-         a(href="#")
            //-             i.fab.fa-facebook
            //-         a(href="#")
            //-             i.fab.fa-twitter
            //-         a(href="#")
            //-             i.fab.fa-instagram
            //-         a(href="#")
            //-             i.fab.fa-youtube
            //-         a(href="#")
            //-             i.fab.fa-vimeo
            //-     .spc_bbtm_rdd_mre
            //-         .btmmm_rd_more
            //-             p Read More
            //-             i.fas.fa-plus
                    
                
            .spc_bg_vdo
                iframe(width='560', height='315', src='https://www.youtube.com/embed/-9LCoGkHagU?autoplay=1&mute=1', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                //- iframe(width='560', height='315', src='https://www.youtube.com/embed/-9LCoGkHagU?autoplay=1&mute=1', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            //- .flotante_info
            //-     .cntrl_innnff
            //-         .top_close
            //-             .btm_close
            //-                 i.fas.fa-times
            //-         .cllmunnsss
            //-             .spc_cclmnn
            //-                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui libero quod fuga eum enim, at aliquam ratione vero, a architecto voluptas ipsam quas aliquid ab labore repellat quae nisi? Cumque?
            //-                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui libero quod fuga eum enim, at aliquam ratione vero, a architecto voluptas ipsam quas aliquid ab labore repellat quae nisi? Cumque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, doloribus!
                        
            //-             .spc_cclmnn
            //-                 .d
            //-                     .tiittt_innnf
            //-                         i.fas.fa-phone
            //-                         span Phone
            //-                     .dtts_cnnt Phone: (000) 555 1212 
            //-                     .dtts_cnnt Mobile: (000) 555 0100 
            //-                     .dtts_cnnt Fax: (000) 555 0101
            //-                 .d
            //-                     .tiittt_innnf
            //-                         i.fas.fa-envelope
            //-                         span Email
            //-                     .dtts_cnnt Fax: JohnDoe@example.com
            //-                     .dtts_cnnt RichardRoe@example.com
            //-                 .d
            //-                     .tiittt_innnf
            //-                         i.fas.fa-map-marker-alt
            //-                         span Address
            //-                     .dtts_cnnt 123 Some Street, Some City, AA 12345



        script(src="js/jquery.js")
        script(src="js/all.js")
        script(src="js/main.js")